<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.springframework.org/schema/beans    
 						 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 						 
 						 
 	
 	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://10.202.200.157:3306/cloud_support?characterEncoding=utf-8&amp;tinyInt1isBit=false&amp;serverTimezone=UTC&amp;allowMultiQueries=true" />
		<property name="username" value="root" />
		<property name="password" value="Root!!2019" />
		<!-- 验证查询语句 -->
		<property name="validationQuery" value="select 1" />
		<!-- 初始化连接数 -->
		<property name="initialSize" value="5" />
		<!-- 最大空闲数 -->
		<property name="maxIdle" value="5" />
		<!-- 最小空闲数 -->
		<property name="minIdle" value="1" />
		<!-- 最大活跃数 -->
		<property name="maxTotal" value="150" />
		<!-- 建议配置为true，不影响性能，并且保证安全性。申请连接的时候检测，如果空闲时间大于timeBetweenEvictionRunsMillis，执行validationQuery检测连接是否有效 -->
		<property name="testWhileIdle" value="true" />
		<!-- 运行判断连接超时任务的时间间隔 -->
		<property name="timeBetweenEvictionRunsMillis" value="30000" />
		<!-- 连接超时时间 -->
		<property name="minEvictableIdleTimeMillis" value="1800000" />
	</bean>
 	
 	
 	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
 		<!-- <property name="configuration" value="mybatis-config.xml"/> -->
 		<property name="dataSource" ref="dataSource"/>
 		<property name="mapperLocations" value="classpath:**Mapper.xml" />
 	</bean>
 	
 	<bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
 		<property name="basePackage" value="com.source.analy.springJDBC.dao"></property>
 	</bean>
</beans>